/** @format */

@use "config" as g;
@use "mixin" as m;

// どのページにも適用する処理を記述
body {
  color: g.$font-color;
  background-color: g.$background-color;
  font-family: g.$font-family;
  font-size: g.$font-size;
  letter-spacing: g.$letter-spacing;
  line-height: g.$line-height;
}

li {
  list-style: none;
}

@mixin wrapper($margin: 0 auto 80px){
  width: 100%;
  padding: 0 40px;
  text-align: center;
  max-width: 1200px;
  margin: $margin;
  
  @include m.mq(tab) {
    padding: 0 20px;
  }
}

